
/* background color */
body{
	background-color:lightyellow;
}
/*moves the first hearder to the center*/
h1{
	text-align:center;
	
}
/*moves the logo to the center*/
header{
	text-align:center;
}
/*changes the color of the second header*/
h2{
	color:#deb499;
}
/*sets the size of the text in the first header*/
h1{
	font-size:50px;
	color:#deb499;
}
/*moves the copyright to the center*/
footer{
	text-align:center;
}
img{
	border-radius:50%;
	border:10px solid #e7c484;
	width:100px;
	height:100px;
	
}

h3{
	color:#deb499;
}




a{
	color:#fda88c;
}